$parts: 0;

// Common elements

$header_wrapper_padding: 5px 20px;
$footer_wrapper_padding: 10px 20px;

$content_wrapper_padding: 10px 20px;
$sidebar_wrapper_padding: 10px 10px;

body {
  @if $bg_image != "" {
    background: url($bg_image);
  }

  .app-container {
    @include container;
    position: relative;
    background-color: $bg_color;

    .app-header, .app-footer {
      @include column($grid-columns);
    }

    .app-content-wrapper {
      padding: $content_wrapper_padding;
    }

    .app-sidebar-wrapper {
      padding: $sidebar_wrapper_padding;
    }
  }
}

// Content layout
body.content-layout {
  .app-content {
    @include column($grid-columns, true); } }


// Set number of parts for Content-Sidebar and Sidebar-Content layouts
@if $layout-type == fixed {
  $parts: 3;
} @else {
  $parts: 5;
}

// Content-Sidebar layout
body.content-sidebar-layout {
  .app-sidebar {
    $sidebar-columns: floor($grid-columns / $parts);
    @include column($sidebar-columns); }
  .app-content {
    $content-columns: ceil(($parts - 1) * $grid-columns / $parts);
    @include column($content-columns, true); } }

// Sidebar-Content layout
body.sidebar-content-layout {
  .app-sidebar {
    $sidebar-columns: floor($grid-columns / $parts);
    @include column($sidebar-columns); }
  .app-content {
    $content-columns: ceil(($parts - 1) * $grid-columns / $parts);
    @include column($content-columns, true); } }

// Set number of parts for Sidebar-Content-Sidebar layout
@if $layout-type == fixed {
  $parts: 4;
} @else {
  $parts: 6;
}

// Sidebar-Content-Sidebar layout
body.sidebar-content-sidebar-layout {
  .app-left-sidebar {
    $sidebar-columns: floor($grid-columns / $parts);
    @include column($sidebar-columns); }
  .app-content {
    $content-columns: ceil(($parts - 2) * $grid-columns / $parts);
    @include column($content-columns); }
  .app-right-sidebar {
    $sidebar-columns: floor($grid-columns / $parts);
    @include column($sidebar-columns, true); } }

@import "header";
@import "footer";