.app-left-sidebar
  .app-sidebar-wrapper
    = render :partial => "left_sidebar"
.app-content
  .app-content-wrapper
    = yield
.app-right-sidebar
  .app-sidebar-wrapper
    = render :partial => "right_sidebar"
