.sidebar-block
  %h6 Actions
  %ul.app-sidebar-navigation
    %li
      %a(href="#") Action 1
    %li
      %a(href="#") Action 2

.sidebar-block
  %h6 Information
  %p
    New information text for sidebar context
