body .app-header {
  background-color: $feedback_border_color;
  border-bottom: 1px solid $quiet_color;
  padding: 5px 20px; 

  h1 {
    padding: 5px 0;
    margin: 5px 0;

    a {
      text-decoration: none;
    }
  }
}