body .app-user-navigation {
  position: absolute;
  right: 20px;
  top: 0;

  ul {
    @include reset-box-model;
    @include reset-list-style;
    @include clearfix;
    
    li {
      padding: 5px 10px;
      float: left;

      a {
        text-decoration: none;
      }
    }
  }
}